# T-Test

## One sample t-test

In [85]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import numpy as np

In [86]:
df_2015 = pd.read_csv('./data_pd/marathon_results_2015.csv')
df_2016 = pd.read_csv('./data_pd/marathon_results_2016.csv')
df_2017 = pd.read_csv('./data_pd/marathon_results_2017.csv')

In [87]:
df = pd.concat([df_2015,df_2016,df_2017], ignore_index=True)
df.head(5)

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division,Unnamed: 8
0,0.0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1,NaN
1,1.0,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2,NaN
2,2.0,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3,NaN
3,3.0,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4,NaN
4,4.0,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5,NaN

In [88]:
df['Age'].mean()

42.41516612672342

In [89]:
np.random.seed(4)
age_data = df['Age'].sample(n=30, replace=False)
len(age_data)

30

In [90]:
pop_avg_age = 40    #Estimated population mean age

In [91]:
# Perform One Sample t-test
t_statistics, p_value = stats.ttest_1samp(age_data, pop_avg_age)

In [92]:
# Degree of freedom
degree_of_freedom = len(age_data)-1

In [93]:
# Print the results
print("T-statistics: ", t_statistics)
print("P-value: ", p_value)
print("Degree of freedom: ", degree_of_freedom)

T-statistics:  2.2649036558388898
P-value:  0.031166863165459135
Degree of freedom:  29

In [94]:
# Interpretation 
alpha = 0.025
if p_value < alpha:
    print("The null hypothesis is rejected")
else:
    print("The null hypothesis cannot be rejected")

critical_value = stats.t.ppf(1-alpha, degree_of_freedom)
print("Critical value: ", critical_value)

The null hypothesis cannot be rejected
Critical value:  2.045229642132703

In [95]:
# Two -Tail t-Test (BEcause we are just checking if sample mean = population mean)
# So we need to take absolute value of t-statistics
if (abs(t_statistics) < critical_value):
    print("The  null hypothesis (mean age = 40) cannot be rejected")
else:
    print("The  null hypothesis (mean age = 40) is rejected")

The  null hypothesis (mean age = 40) is rejected