# 1. Load Dog_Bites_data dataset

## _. Import library

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('./data_pd/Dog_Bites_Data.csv')
df.head()

,UniqueID,DateOfBite,Species,Breed,Age,Gender,SpayNeuter,Borough,ZipCode
0,1,January 01 2018,DOG,UNKNOWN,NaN,U,False,Brooklyn,11220
1,2,January 04 2018,DOG,UNKNOWN,NaN,U,False,Brooklyn,NaN
2,3,January 06 2018,DOG,Pit Bull,NaN,U,False,Brooklyn,11224
3,4,January 08 2018,DOG,Mixed/Other,4,M,False,Brooklyn,11231
4,5,January 09 2018,DOG,Pit Bull,NaN,U,False,Brooklyn,11224

In [9]:
df.columns

Index(['UniqueID', 'DateOfBite', 'Species', 'Breed', 'Age', 'Gender',
       'SpayNeuter', 'Borough', 'ZipCode'],
      dtype='object')

## 1.1. Select these columns: 'DateOfBite', 'Breed', 'Age', 'SpayNeuter', 'ZipCode'

In [10]:
columns = ['DateOfBite', 'Breed', 'Age', 'SpayNeuter', 'ZipCode']
df = df[columns]
df.head()

        DateOfBite        Breed  Age  SpayNeuter ZipCode
0  January 01 2018      UNKNOWN  NaN       False   11220
1  January 04 2018      UNKNOWN  NaN       False     NaN
2  January 06 2018     Pit Bull  NaN       False   11224
3  January 08 2018  Mixed/Other    4       False   11231
4  January 09 2018     Pit Bull  NaN       False   11224

## 1.2. Check nan value in dataset which selected columns

In [11]:
df.isna().sum()

DateOfBite        0
Breed          2218
Age           11221
SpayNeuter        0
ZipCode        5858
dtype: int64

In [14]:
df = df.dropna(subset=columns)
df.isna().sum()

DateOfBite    0
Breed         0
Age           0
SpayNeuter    0
ZipCode       0
dtype: int64

## 1.3. Select the datas has SpayNeuter is "FALSE" and Print top 15 rows

In [16]:
filtered_spayneuter_false = df[df['SpayNeuter'] == False]
filtered_spayneuter_false.head(15)

,DateOfBite,Breed,Age,SpayNeuter,ZipCode
3,January 08 2018,Mixed/Other,4,False,11231
5,January 03 2018,BASENJI,4Y,False,11231
8,January 04 2018,American Pit Bull Mix / Pit Bull Mix,5Y,False,11235
9,January 10 2018,MIXED,3Y,False,11208
18,January 13 2018,MIXED,7,False,11237
29,January 17 2018,Dachshund Smooth Coat,2,False,11211
34,January 23 2018,Chihuahua,4,False,11205
41,January 29 2018,Mixed/Other,7,False,11232
43,January 28 2018,MINATURE PINSCHER X,8,False,11214
44,February 01 2018,TERRIER CROSS,4,False,11233
50,February 05 2018,German Shepherd,1,False,11236
54,January 29 2018,MIXED,5,False,11236
57,February 09 2018,Chihuahua,9M,False,11233
58,February 07 2018,American Pit Bull Terrier/Pit Bull,2,False,11216
60,February 05 2018,American Pit Bull Mix / Pit Bull Mix,6,False,11234